doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Firma Endcom
	body
		div(style='background-color: #fff; max-width: 270px; max-height: 230px; padding: 1.4em;')
			div(style='margin-bottom: 1em; padding-left: 7px;')
				a(href='https://endcom.mx/', target='_blank')
					img(src='https://endcom.mx/assets-mail/img/Logo_endcom.png', alt='Logo', style='width: 8em;')
			div
				span(style="display: block; margin-bottom: 0.2em; font-size: 19px; color: #1b4cc8; padding: 0.2em 0.3em; border: none; outline: none; font-family: 'Arial';")= nombre

				span(type='text', style="display: block; margin-bottom: 0.3em; border: none; font-size: 16px; outline: none; font-family: 'Arial'; color: #231f20; margin-bottom: 1.3em; padding: 0.3em 0.8em;")= puesto
			div
				div(style='margin-left: 1em; margin-bottom: .5em;')
					img(style='width: 10px; margin-right: 8px;', src='https://endcom.mx/assets-mail/icons/Ic__0000_Cel.png', alt='celular')
					span(style='color: #1b4cc8; font-size: 16px;') c.
					span(style=" margin-bottom: 0.3em; padding: 0.2em 0.3em; border: none; font-size: 16px; outline: none; font-family: 'Arial'; color: #231f20;")= telefono
				div(style='margin-left: 1em; margin-bottom: .5em;')
					img(style='width: 10px; margin-right: 8px;', src='https://endcom.mx/assets-mail/icons/Ic__0001_Tel.png', alt='telefono')
					span(style='color: #1b4cc8; font-size: 16px; margin-right: 5px;') t.
					div(style='display: inline-block;')
						span(style=" margin-bottom: 0.3em; padding: 0.2em 0.3em; border: none; font-size: 16px; outline: none; font-family: 'Arial'; color: #231f20; border-right: solid 2px #02d8de; padding-right: 10px;")= movil1
						span(style=" margin-left: 7px; margin-bottom: 0.3em; padding: 0.2em 0.3em; border: none; font-size: 16px; outline: none; font-family: 'Arial'; color: #231f20;")= movil2
				div(style='margin-left: 1em; margin-bottom: 1em;')
					img(style=' width: 10px; margin-right: 8px;', src='https://endcom.mx/assets-mail/icons/Ic__0002_Mail.png', alt='email')
					span(style='color: #1b4cc8; font-size: 16px; margin-right: 3px;') e.
					span(style=" margin-bottom: 0.3em; padding: 0.2em 0.3em; border: none; font-size: 16px; outline: none; font-family: 'Arial'; color: #231f20;")= email
			hr(style='background-color: #1b4cc8; height: 0.3em; border: none;')
			div(style=' margin-top: 1em; width: 100%; text-align: center')
				a(href='https://www.facebook.com/Endcom-109425393762962/', target='_blank')
					img(style='width: 15px; margin-right: 4em;', src='https://endcom.mx/assets-mail/icons/Ic__0003_Face.png', alt='facebook')
				a(href='https://www.linkedin.com/company/endcom/', target='_blank')
					img(style='width: 15px; margin-right: 4em;', src='https://endcom.mx/assets-mail/icons/Ic__0005_Lin.png', alt='Linkedin')
				a(href='https://www.instagram.com/endcom.mx/', target='_blank')
					img(style='width: 15px;', src='https://endcom.mx/assets-mail/icons/Ic__0006_Inst.png', alt='Instagram')